@model IdeaCollectorSH.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";

}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Phone number", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Editor("Phone", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Address", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Editor("Address", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("First Name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Editor("Fname", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Last name", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Editor("Lname", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Department", new { @class="col-md-2 control-label"})
        <div class="col-md-10">
            <select class="form-control" id="ActivityLevel" name="DepName">
                <option value=1>Greenwich</option>
                <option value=2>Avery Hill</option>
                <option value=3>Medway</option>
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
