@model IdeaCollectorSH.Models.Document

@{
    ViewBag.Title = "Create";
}

<h2>Add documents to idea</h2>
<br />
<h3>Uploading document to:</h3>
@ViewBag.Iid
<br />
@using (Html.BeginForm("Upload",
                        "Documents",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    <div class="col-md-10">
        @Html.HiddenFor(model => model.IdeaID,new { Value=ViewBag.Iid})
        @Html.ValidationMessageFor(model => model.IdeaID, "", new { @class = "text-danger" })
    </div>

    @Html.TextBoxFor(m => m.PostedFile, new { type = "file" })
    @Html.ValidationMessageFor(m => m.PostedFile)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>
    </div>
    <br>
    <br>

    @ViewBag.Message
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
