@model PagedList.IPagedList<IdeaCollectorSH.Models.Idea>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Ideas", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", "Ideas", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.ActionLink("Submition Date", "Index", "Ideas", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.First().Category)
        </th>
        <th>
            @Html.ActionLink("Likes", "Index", "Ideas", new { sortOrder = ViewBag.LikesSortParm }, null)
        </th>
        <th>
            @Html.ActionLink("Dislikes", "Index", "Ideas", new { sortOrder = ViewBag.DislikesSortParm }, null)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.First().ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IdeaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.First().Staff.FirstName)
        </th>
        <th>
            Author's email
        </th>
        <th></th>
    </tr>
    @{ int row = 0;}
    @foreach (var item in Model)
    {
        <tr>
            @{ row++;}
            <td>
                @Html.DisplayFor(modelItem => item.IdeaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @using (Html.BeginForm("ThumbUpPost", "Ideas",new { id = item.IdeaID }))
                {
                    int position = 0;
                    position = position + 1;
                    //row = (Model.PageNumber - 1) * 5+row;
                    @Html.AntiForgeryToken()
                    @Html.Hidden("IdeaId", new { id = item.IdeaID })
                    <button type="submit" class="glyphicon glyphicon-thumbs-up"></button>
                }
                @Html.DisplayFor(modelItem => item.TUp)
            </td>
            <td>
                @using (Html.BeginForm("ThumbDownPost", "Ideas",new { id = item.IdeaID }))
                {
                    //row = (Model.PageNumber - 1) * 5+row;
                    @Html.AntiForgeryToken()
                    @Html.Hidden("IdeaIdId", new { id = item.IdeaID })
                    <button type="submit" class="glyphicon glyphicon-thumbs-down"></button>
                }
                @Html.DisplayFor(modelItem => item.TDown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdeaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdeaID })
                @Html.ActionLink("Details", "Details", new { id = item.IdeaID })
                @Html.ActionLink("Delete", "Delete", new { id = item.IdeaID })
                <br />
                @Html.ActionLink("Add documents", "Create", "Documents", new { id=item.IdeaID},null)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))