@model IEnumerable<IdeaCollectorSH.Models.Idea>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Ideas Collector</h1>
    <p class="lead">
        Ideas Collector is a sample application made using Agile, DevOps, GitHub that
        demonstrates how to use Entity Framework 6 in an
        ASP.NET MVC 5 web application.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container">
    @Html.ActionLink("List of departments", "Index", "Departments")<br />
    @Html.ActionLink("List of staffs", "Index", "Staffs")<br />
    @Html.ActionLink("List of ideas", "Index", "Ideas")<br />
    @Html.ActionLink("List of documents", "Index", "Documents")<br />
    @Html.ActionLink("Moja akcja", "Index", "Moj")
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdeaTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TUp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViewCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdeaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdeaTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TUp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDown)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdeaDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Staff.FirstName)
            </td>
        </tr>
    }

</table>